<html>
    <body>
        <a href="/display">Display</a>
        <h1>Add Record</h1>
        <form action="add-process" method="post">
            Name: <input type="text" name="txt1" required>
            Details: <input type="text" name="txt2" required>
            Price: <input type="int" name="txt3" required>
            <input type="submit">
        </form>
    </body>
</html>