<html>
    <body>
        <a href="/display">Display</a>
        <h1>Add Record</h1>
        <form action="add-process" method="post">
            Name: <input type="text" name="txt1" required>
            Physics: <input type="int" name="txt2" required>
            Chemistry: <input type="int" name="txt3" required>
            Maths: <input type="int" name="txt4" required>
            Biology: <input type="int" name="txt5" required>
            <input type="submit">
        </form>
    </body>
</html>