<html>
    <body>
        <h1>Test Form</h1>
        <form action="form-process" method="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="text1" placeholder="Enter Name" required></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input type="number" name="text2" required placeholder="Enter Age"></td>
                </tr>
                <tr>
                    <td>marks 1</td>
                    <td><input type="number" name="text3" required placeholder="Marks 1"></td>
                </tr>
                <tr>
                    <td>marks 2</td>
                    <td><input type="number" name="text4" required placeholder="Marks 2"></td>
                </tr>
                <tr>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>